{# templates/home/index.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>CyberHack Game - Accueil</title>
</head>
<body>
    <h1>Bienvenue sur CyberHack Game !</h1>
    <p>Ceci est la page d'accueil de votre application Symfony.</p>
   
</body>
</html>